<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Demo</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- work picker -->
    <mat-tab-group>
      <mat-tab label="work picker">
        <div>
          <h3>Work</h3>
          <cadmus-ref-lookup
            label="work"
            [service]="workLookupService"
            (itemChange)="onWorkChange($event)"
          />
          <hr />
          @if (work) {
          <div>
            <code>
              <pre>{{ work | json }}</pre>
            </code>
          </div>
          }
        </div>

        <div>
          <h3>Container</h3>
          <cadmus-ref-lookup
            label="container"
            [service]="workLookupService"
            [baseFilter]="{ container: true }"
            (itemChange)="onContainerChange($event)"
          />
          <hr />
          @if (container) {
          <div>
            <code>
              <pre>{{ container | json }}</pre>
            </code>
          </div>
          }
        </div>
      </mat-tab>

      <!-- author picker -->
      <mat-tab label="author picker">
        <cadmus-ref-lookup
          [service]="authorLookupService"
          label="author"
          (itemChange)="onAuthorChange($event)"
        />
        @if (author) {
        <div>
          <code>
            <pre>{{ author | json }}</pre>
          </code>
        </div>
        }
      </mat-tab>

      <!-- work authors -->
      <mat-tab label="work authors">
        <biblio-work-authors
          [roleEntries]="roleEntries"
          (authorsChange)="onAuthorsChange($event!)"
        />
        @if (authors) {
        <div>
          <code>
            <pre>{{ authors | json }}</pre>
          </code>
        </div>
        }
      </mat-tab>

      <!-- keyword picker -->
      <mat-tab label="keyword picker">
        <biblio-keyword-picker (keywordChange)="onKeywordChange($event)" />
        <hr />
        @if (keyword) {
        <div>
          <code>
            <pre>{{ keyword | json }}</pre>
          </code>
        </div>
        }
      </mat-tab>

      <!-- work keywords -->
      <mat-tab label="work keywords">
        <biblio-work-keywords
          [langEntries]="langEntries"
          (keywordsChange)="onKeywordsChange($event!)"
        />
        @if (keywords) {
        <div>
          <code>
            <pre>{{ keywords | json }}</pre>
          </code>
        </div>
        }
      </mat-tab>

      <!-- work -->
      <mat-tab label="work">
        <biblio-work
          [langEntries]="langEntries"
          (workChange)="onEditedWorkChange($event!)"
        />
        @if (editedWork) {
        <div>
          <code>
            <pre>{{ editedWork | json }}</pre>
          </code>
        </div>
        }
      </mat-tab>

      <!-- work filter -->
      <mat-tab label="work filter">
        <biblio-work-filter
          [langEntries]="langEntries"
          [persisted]="true"
          (filterChange)="onFilterChange($event)"
        />
        @if (filter) {
        <div>
          <code>
            <pre>{{ filter | json }}</pre>
          </code>
        </div>
        }
      </mat-tab>

      <!-- work details -->
      <mat-tab label="work details">
        <div>
          <cadmus-ref-lookup
            label="work"
            [service]="workLookupService"
            (itemChange)="onWorkChangeForDetails($event)"
          />
        </div>
        <biblio-work-details [work]="detWork" />
      </mat-tab>

      <!-- work browser -->
      <mat-tab label="work browser">
        <div>
          <biblio-work-browser
            [langEntries]="langEntries"
            [editEnabled]="true"
            [addEnabled]="true"
            [deleteEnabled]="true"
            [pickEnabled]="true"
          />
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
