<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Demo</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- work picker -->
    <mat-tab-group>
      <mat-tab label="work picker">
        <div>
          <h3>Work</h3>
          <biblio-work-picker
            (workChange)="onWorkChange($event)"
          ></biblio-work-picker>
          <hr />
          <div *ngIf="work">
            <pre>{{ work | json }}</pre>
          </div>
        </div>

        <div>
          <h3>Container</h3>
          <biblio-work-picker
            [container]="true"
            (workChange)="onContainerChange($event)"
          ></biblio-work-picker>
          <hr />
          <div *ngIf="container">
            <pre>{{ container | json }}</pre>
          </div>
        </div>
      </mat-tab>

      <!-- work authors -->
      <mat-tab label="work authors">
        <biblio-work-authors
          [roleEntries]="roleEntries"
          (modelChange)="onAuthorsChange($event)"
        ></biblio-work-authors>
        <div *ngIf="authors">
          <pre>{{ authors | json }}</pre>
        </div>
      </mat-tab>

      <!-- work keywords -->
      <mat-tab label="work keywords">
        <biblio-work-keywords
          [langEntries]="langEntries"
          (modelChange)="onKeywordsChange($event)"
        ></biblio-work-keywords>
        <div *ngIf="keywords">
          <pre>{{ keywords | json }}</pre>
        </div>
      </mat-tab>

      <mat-tab label="work">
        <biblio-work [langEntries]="langEntries"></biblio-work>
        <div *ngIf="editedWork">
          <pre>{{ editedWork | json }}</pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
