<header>
  <mat-toolbar>
    <span style="flex: 0 0 60px"
      ><img src="./img/logo-white-40.png" alt="Fusisoft"
    /></span>
    <a mat-button routerLink="/home">Cadmus Biblio</a>
    <!-- items menu -->
    @if (logged && itemBrowsers) {
    <button type="button" mat-button [matMenuTriggerFor]="itemMenu">
      Items
    </button>
    }
    <mat-menu #itemMenu>
      <a mat-menu-item routerLink="/items">Items</a>
      @for (entry of itemBrowsers; track entry) {
      <a
        mat-menu-item
        [routerLink]="'item-browser/' + getItemBrowserRoute(entry.id)"
      ></a>
      }
    </mat-menu>
    <!-- item menu -->
    @if (logged && !itemBrowsers) {
    <button type="button" mat-button routerLink="/items">Items</button>
    }

    <!-- search menu -->
    @if (logged) {
    <button type="button" mat-button routerLink="/search">Search</button>
    }
    <!-- graph menu -->
    <!-- @if (logged) {
    <button type="button" mat-button routerLink="/graph">Graph</button>
    } -->
    <!-- thesauri menu -->
    @if ( user && (user.roles.includes('admin') ||
    user.roles.includes('editor')) ) {
    <button type="button" mat-button routerLink="/thesauri">Thesauri</button>
    }
    <!-- bibliography menu -->
    @if ( user && (user.roles.includes('admin') ||
    user.roles.includes('editor')) ) {
    <button type="button" mat-button routerLink="/biblio">Bibliography</button>
    } @if (logged) {
    <button type="button" mat-button routerLink="/demo">Demo</button>
    <button type="button" mat-button routerLink="/works">Works</button>
    }

    <span class="tb-fill-remaining-space"></span>

    <!-- user -->
    @if (user) {
    <div>
      <!-- indicators -->
      <img [src]="user.email | gravatar : 32" alt="{{ user.userName }}" />
      @if (user && user.roles.includes('admin')) {
      <mat-icon class="small-icon" title="admin">build</mat-icon>
      } @if (user && !user.emailConfirmed) {
      <mat-icon
        class="small-icon"
        title="You must verify your email address! Please check your mailbox "
        >feedback</mat-icon
      >
      }
      <!-- user menu -->
      <button mat-button [matMenuTriggerFor]="userMenu">User</button>
      <mat-menu #userMenu>
        <a mat-menu-item routerLink="/reset-password">Reset password</a>
      </mat-menu>
      <!-- admin menu -->
      @if (user && user.roles.includes('admin')) {
      <button type="button" mat-button [matMenuTriggerFor]="adminMenu">
        Admin
      </button>
      }
      <mat-menu #adminMenu>
        <a mat-menu-item routerLink="/manage-users">Manage users</a>
        <a mat-menu-item routerLink="/register-user">Register user</a>
      </mat-menu>
    </div>
    }

    <!-- login -->
    @if (!logged) {
    <button type="button" mat-icon-button routerLink="/login">
      <mat-icon>login</mat-icon>
    </button>
    }
    <!-- logout -->
    @if (logged) {
    <button type="button" mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    }
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div layout="row" layout-align="center center">
    <p>
      Cadmus by
      <a rel="noopener" href="http://www.fusisoft.it" target="_blank"
        >Daniele Fusi</a
      >
      - version {{ version }}
    </p>
  </div>
</footer>
