<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Home</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Welcome to the Cadmus Bibliography Shell. This is the developer base
      providing the libraries with frontend bibliographic components working
      with the Cadmus bibliography API.
    </p>
    <p>
      This shell is here only to provide a playground for the components being
      developed in the libraries. You can open the
      <a routerLink="/demo">demo</a>
      to play with some of them:
    </p>
    <ul>
      <li>work picker: a component used to let users pick a work/container.</li>
      <li>
        work authors: a component used to let users pick 1 or more authors for a
        work.
      </li>
      <li>
        work keywords: a component used to let users pick 1 or more keywords for
        a work
      </li>
      <li>
        work: a component used to edit a full work data graph, making use of all
        the preceding components.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
