<div id="banner">
  <h1>Cadmus Biblio</h1>
</div>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Home</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Welcome to the Cadmus Bibliography Shell. This is the developer base
      providing the libraries with frontend bibliographic components working
      with the Cadmus bibliography API.
    </p>
    <p>
      This shell is here only to provide a playground for the components being
      developed in the libraries. You can see the
      <a routerLink="/works">topmost component</a> in action, allowing you to
      pick any works from the database while eventually editing it; see the same
      component inside a Cadmus part editor; or open the
      <a routerLink="/demo">demo page</a> to play with some of the minor
      components:
    </p>
    <ul>
      <li>
        <strong>work picker</strong>: a component used to let users pick a
        work/container.
      </li>
      <li>
        <strong>author picker</strong>: a component used to let users pick an
        author.
      </li>
      <li>
        <strong>work authors</strong>: a component used to let users pick 1 or
        more authors for a work.
      </li>
      <li>
        <strong>keyword picker</strong>: a component used to let users pick a
        keyword.
      </li>
      <li>
        <strong>work keywords</strong>: a component used to let users pick 1 or
        more keywords for a work
      </li>
      <li>
        <strong>work</strong>: a component used to edit a full work data graph,
        making use of all the preceding components.
      </li>
      <li>
        <strong>work filter</strong>: a component used to let users define a set
        of filters for works.
      </li>
      <li>
        <strong>work details</strong>: a component used to show details about a
        work or container.
      </li>
      <li>
        <strong>work browser</strong>: a component used to browse a list of
        works or containers.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
